{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{% include 'inc/_headlist.html' %}
       <section class="section">
      <div class="container">
        <div class="mt--200">
        <div class="row">
            {% for i in branches %}
                <div class="col-md-4">
                    <div class="card shadow-sm py-3 px-3 info">
                        <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                            <i class="ni ni-building"></i>
                        </div>
                        <h6 class="info-title text-uppercase text-dangerq">{{ i.name}}</h6>
                        <div class="description opacity-8">
                            <span class="badge badge-pill badge-danger text-uppercase">Адрес:</span>
                            <h6>{{ i.address}}</h6>
                            <span class="badge badge-pill badge-danger text-uppercase">Телефон:</span><br>
                            <h6>{{ i.phones }}</h6>
                            <span class="badge badge-pill badge-danger text-uppercase">Электронный адрес:</span>
                            <h6>{{ i.email}}</h6>
                        </div>
                        <a href="{{ i.get_absolute_url }}" class="text-right text-warning">ПОДРОБНЕЕ
                            <i class="ni ni-curved-next text-warning"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}