
.header-scrolled {
  background: rgba(23,43,77, .9) !important;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1) !important;
  height: 60px;
  transition: .5s;
}
.badge {
  font-size: 16px !important;
}
.left-mm{
  background-color: rgba(255,255,255, .5);
  padding: 10px;
  height: 300px;
}

.left-mm a {
  color: #fff;
}
.left-mm li:last-child {
  border-bottom: none;
}
.card-height {
  height: 250px;
}
.left-mm .size-fnt {
  font-size: 20px;
}
@media (max-width: 768px) {
  .left-mm {
    position: relative;
    background: none;
    max-width: none;
  }
  .left-mm .btn-primary {
    background-color: rgba(94,114,228, .6);
  }
  .left-mm .size-fnt {
    font-size: 16px;
  }
}

.contact-info {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.line-view-cont {
  height: 8px;
  background: #172b4d;
  position: relative;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

#slider-important-link .img-cont {
  height: 100%;
  width: auto;
}
.school {
  width: 100%;
}
.school th {
  border-bottom: 2px solid green;
  text-align: left !important;
}
.school th:nth-child(2n) {
  background: #0a0c0d;
}

.triangle-primary:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 20px solid transparent; border-bottom: 20px solid #5e72e4; border-left: 20px solid #5e72e4;
}
.triangle-success:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 20px solid transparent; border-bottom: 20px solid #2dce89; border-left: 20px solid #2dce89;
}
.triangle-warning:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 20px solid transparent; border-bottom: 20px solid #fb6340; border-left: 20px solid #fb6340;
}
.triangle-danger:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 20px solid transparent; border-bottom: 20px solid #f5365c; border-left: 20px solid #f5365c;
}

.big-test {
  width: initial !important;
}

.slogan-bg {
  background-color: rgba(199,199,199,.2);
  border-radius: 20px;

}

.item{
  opacity:0.4;
  transition:.4s ease all;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
.inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
.inner a:hover{border-color:#fff;}
.black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
.black .inner a:hover{border-color:#000;}

.owl-controls{position:absolute; margin-top:300px;}



