.header-scrolled {
  background: rgba(23,43,77, .9) !important;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1) !important;
  height: 60px;
  transition: .5s;
}
.badge {
  font-size: 16px !important;
}
.left-mm{
  max-width: 300px;
  background-color: rgba(164, 63, 73, .5);
  position: absolute; 
  left:0;
  right:0;
  top:0;
  bottom:0;
  padding: 10px;
}
.left-mm ul {
  color: #fff;
}
.left-mm li {
  list-style-type: none;
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 1px solid rgb(175, 175, 175);
  padding: 10px;
}
.left-mm a {
  color: #fff;
}
.left-mm li:last-child {
  border-bottom: none;
}

.contact-info {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.line-view-cont {
  height: 8px;
  background: #172b4d;
  position: relative;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

