{% extends 'base.html' %}

{% block title %}
 {{ title }}
{% endblock %}

{% block content %}
    {% include 'inc/_headlist.html' %}
        <section class="section m-3 mt--150">
            <div class="row">
                <div class="col-9 text-uppercase text-center bg-info text-white">
                    <h3 class="text-white">Рекомендуемый режим дня больного туберкулезом без бактериовыделения, получающего лечение на дому в условиях режима повышенной готовности</h3>
                </div>
                <div class="col-3 text-uppercase text-center d-flex align-items-center justify-content-center bg-green">
                    <h3 class="text-white">Сидим дома</h3>
                </div>

                <div class="col-2 text-uppercase text-center bg-green text-white d-flex align-items-center justify-content-center">
                    <h5 class="text-white">Утро</h5>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Пробуждение и выполнение по
                                    желанию комплекса аутогенной гимнастики (в исходном положении лежа)</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">7:00 - 7:15</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Утренние гигиенические процедуры</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">7:15 - 7:40</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Подготовка и измерение температуры с
                                    отметкой в чек-листе самоконтроля пациента</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">7:40 - 7:55</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Прием натощак назначенных
                                    врачом-фтизиатром лекарственных препаратов, отметка приема в чек-листе самоконтроля</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">7:55 - 8:00</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Завтрак</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">8:00 - 8:45</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Прием назначенных
                                    врачом-фтизиатром лекарственных препаратов, отметка приема в чек-листе самоконтроля</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">8:45 - 9:00</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Кратковременный сон или медитация</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">9:00 - 10:00</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Консультация по телефону с лечащим врачом (при
                                    необходимости), ознакомление с новостями по ТВ или интернету, покупка продуктов питания, лекарств или предметов первой необходимости
                                    (только при насущной необходимости)</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">10:00 - 11:15</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-2 text-uppercase text-center bg-green text-white d-flex align-items-center justify-content-center">
                        <h5 class="text-white">День</h5>
                    </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Проведение влажной уборки квартиры.
                                    Проветривание</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">11:15 - 12:15</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 border-bottom text-uppercase bg-pink text-white py-4"><h5 class="text-white">Второй завтрак (перекус)</h5></div>
                                <div class="col-3 border-bottom text-uppercase text-center bg-purple text-white d-flex align-items-center justify-content-center bg-blue">
                                    <h5 class="text-white">12:15 - 12:30</h5>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}