{% extends 'base.html' %}

{% block title %}
 {{ title.title }}
{% endblock %}

{% block content %}
 <div class="wrapper">
    <div class="section section-hero section-shaped">
      <div class="shape shape-style-3 shape-default">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="text-white display-1">Наши статьи</h1>
                <div class="btn-wrapper mt-4">
                  <button type="button" class="btn btn-sm btn-warning btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-container="body" data-animation="true">
                      КОПИРОВАНИЕ МАТЕРИАЛОВ САЙТА БЕЗ АКТИВНОЙ ГИПЕРССЫЛКИ НА ОРИГИНАЛ ЗАПРЕЩЕНО
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
       <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--200">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="#" class="btn btn-sm btn-default float-right">
                      Всего публикаций -
                      {% if posts %}
                          {{ posts|length }}
                      {% endif %}
                  </a>
                </div>
              </div>
            </div>
            <div>
              {% for i in posts %}
                   <div class="card shadow card-lift--hover posts-blk mt-4 p-3">
                        <div class="d-md-flex">
                            <div class="img-title d-md-flex align-items-center justify-content-center">
                                {% for j in image %}
                                    {% if j.product_id == i.id %}
                                      <img alt="" src="{{ j.image.url }}" class="img-fluid rounded shadow-lg" width="300px">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="ml-3">
                                <h4 class="text-primary">{{ i.title }}</h4>
                                <div class="date">
                                    <button class="btn btn-lg btn-danger btn-icon-only rounded-circle" type="button">
                                        <span class="btn-inner--icon"><i class="ni ni-calendar-grid-58"></i></span>
                                    </button>
                                        <span class="btn-inner--text">{{ i.created_at|date:"d E Y" }}</span>

                                </div>
                                <h5>{{ i.anons }}</h5>
                                    <div class="text-right">
                                        <a href="{{ i.get_absolute_url }}">
                                          <button class="btn btn-lg btn-success btn-icon-only rounded-circle" type="button">
                                            <span class="btn-inner--icon"><i class="ni ni-curved-next"></i></span>
                                          </button>
                                        </a>
                                    </div>
                            </div>
                        </div>
                   </div>
               {% endfor %}
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
                  <a href="javascript:;">Show more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}