{% extends 'base.html' %}

{% block title %}
 Главная страница
{% endblock %}

{% block content %}

<section class="section pt-lg-0 mt--100" data-aos="fade-up">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-6 col-lg-3">
                <div class="card border-0 card-lift--hover shadow">
                  <div class="card-body contact-info text-center">
                      <div class="icon icon-shape mb-4 icon-shape-primary rounded-circle">
                        <i class="ni ni-mobile-button"></i>
                      </div>
                      <div>
                        <span class="badge badge-primary badge-pill mb-2">Справочная служба:<br> 8-499-268-25-20</span>
                        <span class="badge badge-primary badge-pill mb-2">Приемная<br> Директора:<br> 8-499-268-00-05</span>
                        <span class="badge badge-primary badge-pill mb-2">Отдел<br> делопроизводства:<br> 8-499-785-25-14</span>
                        <span class="badge badge-primary badge-pill">Факс:<br> 8-499-785-20-82</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="card border-0 card-lift--hover shadow">
                  <div class="card-body text-center">
                      <div class="icon icon-shape mb-4 icon-shape-warning rounded-circle">
                        <i class="ni ni-time-alarm"></i>
                      </div>
                      <h6 class="text-warning text-uppercase">Режим работы</h6>
                      <div>
                        <span class="badge badge-warning badge-pill">Круглосуточно<br> (стационар)</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="card border-0 card-lift--hover shadow">
                  <div class="card-body text-center">
                      <div class="icon icon-shape mb-4 icon-shape-info rounded-circle">
                        <i class="ni ni-square-pin"></i>
                      </div>
                      <h6 class="text-info text-uppercase">Адрес</h6>
                      <div>
                        <span class="badge badge-info badge-pill">г. Москва,<br> ул. Стромынка, д. 10</span>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-6 col-lg-3">
                <div class="card border-0 card-lift--hover shadow">
                  <div class="card-body text-center">
                      <div class="icon icon-shape mb-4 icon-shape-danger rounded-circle">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABx0lEQVQ4jZ2RTWsTYRSFz3nf2EkmiBiR4kIEGRcqdBGbJq3u9Qc4YJsR90pIBS3VinRRrKJgi64DxmAX/RmlThkI+L2QVshC3GnFvNNKnbmuTG3ahrRndy/nPNwPoIPEdbW4ru7kUbuGnZIVNnrehg3rjTgla88Ak/kxCmAZgi8ms1rezcedms38cC9Fv9dQFxAxinS0hAh96XrtW1cTMNbTBCrJoPo5WX+xQkgFmlNdrWAKXhbEpfXo93Srd8CaAuSiyRVzHQECUGLMCDGRqc//NAUvawpe9uhi5Rco90HMStvaW4rmQHGE4C07cPpx9mPCpK0PBLT9/fAZLB/ZCPMrPkVm7KA2t20CGXRTBB8ooExMxiZt3SRwCsBJk1ktE5MxhaMCPpK+q+ltgPBPcpzgYiqoLTTzw70E7mya5J455x2zg6pPYCFMyu0tgDB35Tgo15mI7v77AoBD/93mYOsLmmMAbqwNjZxoAWImnoDyLPX6VUOckkXicvu1CXHFKVm2X/0K4Hm0oR4CAMP+4nlRas5ex2m+e2nagztJBt1UGPV8UiLXlCg+JTHWbRgA6M+vUTAeK/2YZsDzARS6DbdpaZ+5Tf0FMkenLk05r7cAAAAASUVORK5CYII=">
                      </div>
                      <div>
                        <span class="badge badge-danger badge-pill">Контактный<br> телефон<br> горячей линии<br> психологической<br> помощи:<br> +7(999)353-79-80</span>
                      </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h3 class="display-3">Наши филиалы</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="card shadow card-lift--hover py-3 px-3 info">
              <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                <i class="ni ni-building"></i>
              </div>
              <h6 class="info-title text-uppercase text-primary">Клиника №1</h6>
                <div class="description opacity-8">
                  <span class="badge badge-pill badge-primary text-uppercase">Адрес:</span>
                    <h6>107014, город Москва, улица Стромынка, дом 10</h6>
                  <span class="badge badge-pill badge-primary text-uppercase">Телефон:</span><br>
                    <h6>8-499-785-25-14</h6>
                  <span class="badge badge-pill badge-primary text-uppercase">Электронный адрес:</span>
                    <h6>cbt@zdrav.mos.ru </h6>
                </div>
              <a href="javascript:;" class="text-right text-primary">ПОДРОБНЕЕ
                <i class="ni ni-curved-next text-primary"></i>
              </a>
            </div>
          </div>

          <div class="col-6 col-md-4">
            <div class="card shadow card-lift--hover py-3 px-3 info">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                <i class="ni ni-building"></i>
              </div>
              <h6 class="info-title text-uppercase text-success">Клиника №2</h6>
                <div class="description opacity-8">
                  <span class="badge badge-pill badge-success text-uppercase">Адрес:</span>
                    <h6>107014, город Москва, улица Барболина, дом 3 </h6>
                  <span class="badge badge-pill badge-success text-uppercase">Телефон:</span><br>
                    <h6>
                      8-499-268-26-61 <br>
                      8-499-268-25-20</h6>
                  <span class="badge badge-pill badge-success text-uppercase">Электронный адрес:</span>
                    <h6>cbt-klinika2@zdrav.mos.ru</h6>
                </div>
              <a href="javascript:;" class="text-right text-success">ПОДРОБНЕЕ
                <i class="ni ni-curved-next text-success"></i>
              </a>
            </div>
          </div>

          <div class="col-6 col-md-4">
            <div class="card shadow card-lift--hover py-3 px-3 info">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                <i class="ni ni-building"></i>
              </div>
              <h6 class="info-title text-uppercase text-warning">Филиал по ЮЗАО (ул. Новаторов, д.17)</h6>
                <div class="description opacity-8">
                  <span class="badge badge-pill badge-warning text-uppercase">Адрес:</span>
                    <h6>117630, город Москва, ул. Новаторов, дом 17 </h6>
                  <span class="badge badge-pill badge-warning text-uppercase">Телефон:</span><br>
                    <h6>8-495-935-14-62</h6>
                  <span class="badge badge-pill badge-warning text-uppercase">Электронный адрес:</span>
                    <h6>cbt-uzao15@zdrav.mos.ru</h6>
                </div>
              <a href="javascript:;" class="text-right text-warning">ПОДРОБНЕЕ
                <i class="ni ni-curved-next text-warning"></i>
              </a>
            </div>
          </div>

          <div class="col-6 col-md-4">
            <div class="card shadow card-lift--hover py-3 px-3 info">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                <i class="ni ni-building"></i>
              </div>
              <h6 class="info-title text-uppercase text-warning">Филиал по ЮЗАО (ул. Новаторов, д.17)</h6>
                <div class="description opacity-8">
                  <span class="badge badge-pill badge-warning text-uppercase">Адрес:</span>
                    <h6>117630, город Москва, ул. Новаторов, дом 17 </h6>
                  <span class="badge badge-pill badge-warning text-uppercase">Телефон:</span><br>
                    <h6>8-495-935-14-62</h6>
                  <span class="badge badge-pill badge-warning text-uppercase">Электронный адрес:</span>
                    <h6>cbt-uzao15@zdrav.mos.ru</h6>
                </div>
              <a href="javascript:;" class="text-right text-warning">ПОДРОБНЕЕ
                <i class="ni ni-curved-next text-warning"></i>
              </a>
            </div>
          </div>

          <div class="col-6 col-md-4">
            <div class="info">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                <i class="ni ni-atom"></i>
              </div>
              <h6 class="info-title text-uppercase text-success">Analyze Performance</h6>
              <p class="description opacity-8">Don't get your heart broken by people we love, even that we give them all we have. Then we lose family over time. As we live, our hearts turn colder.</p>
              <a href="javascript:;" class="text-primary">Learn about our products
                <i class="ni ni-bold-right text-primary"></i>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="info">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                <i class="ni ni-world"></i>
              </div>
              <h6 class="info-title text-uppercase text-warning">Measure Conversions</h6>
              <p class="description opacity-8">What else could rust the heart more over time? Blackgold. The time is now for it to be okay to be great. or being a bright color. For standing out.</p>
              <a href="javascript:;" class="text-primary">Check our documentation
                <i class="ni ni-bold-right text-primary"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}