{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="section section-hero section-shaped">
      <div class="shape shape-style-3 shape-default">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="page-header">
        <div class="py-6">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
                <div class="col-11">
                    {% include 'inc/_sidebar.html' %}
                </div>

              <div class="col-lg-7 order-1 order-sm-2 mb-3">
                  <div class="slogan-bg px-3">
                       <p class="lead text-white d-none d-xl-block">Государственное бюджетное учреждение здравоохранения города Москвы "Московский научно-практический центр борьбы с туберкулезом
                           Департамента здравоохранения города Москвы"</p>
                       <p class="lead text-white d-none d-xl-block">The Moscow Research and Clinical Center for Tuberculosis Control of the Moscow Government Department of Health</p>
                  </div>
              </div>

                <div class="col-12 order-sm-3 order-3 text-center" data-aos="fade-left" style="z-index: 1000;">
                    <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <a class="text-white" href="{%  url 'patients-school' %}">
                                <div class="card bg-gradient-success align-items-center justify-content-center shadow-sm p-2 p-md-4 mb-3">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-3 text-right">
                                            <i class="display-3 ni ni-hat-3"></i>
                                        </div>
                                        <div class="col-9 text-left">
                                            <span class="text-left text-uppercase">ШКОЛА ПАЦИЕНТА</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a class="text-white" href="{%  url 'patients-school' %}">
                                <div class="card bg-gradient-success align-items-center justify-content-center shadow-sm p-2 p-md-4 mb-3">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-3 text-right">
                                            <i class="display-3 ni ni-like-2"></i>
                                        </div>
                                        <div class="col-9 text-left">
                                            <span class="text-left text-uppercase">Независимая оценка<br> качества оказания<br> услуг медицинскими<br> организациями</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a class="text-white" href="{%  url 'patients-school' %}">
                                <div class="card bg-gradient-success align-items-center justify-content-center shadow-sm p-2 p-md-4 mb-3">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-3 text-right">
                                            <i class="display-3 fa fa-bar-chart"></i>
                                        </div>
                                        <div class="col-9 text-left">
                                            <span class="text-left text-uppercase">График приема населения</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{#Contact info#}
    <div class="container mt--100">
        <div class="row ml-0 mr-0">
            <div class="col-6 col-lg-3">
                <div class="card card-group shadow-sm card-lift--hover text-center p-2">
                    <button class="icon icon-lg icon-shape icon-shape-color-two shadow rounded-circle mb-2" type="button">
                        <span class="btn-inner--icon"><i class="fas fa-mobile-alt"></i></span>
                    </button>
                        <span class="badge badge-pill badge-color-two text-uppercase text-white mb-2"><h7>Справочная служба: 8-499-268-25-20</h7></span>
                        <span class="badge badge-pill badge-color-two text-uppercase text-white mb-2"><h7>Приемная Директора: 8-499-268-00-05</h7></span>
                        <span class="badge badge-pill badge-color-two text-uppercase text-white mb-2"><h7>Отдел делопроизводства: 8-499-785-25-14</h7></span>
                        <span class="badge badge-pill badge-color-two text-uppercase text-white mb-2"><h7>Факс: 8-499-785-20-82</h7></span>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="card card-group shadow-sm card-lift--hover text-center p-2 text-center">
                    <div class="icon icon-lg icon-shape icon-shape-color-one shadow rounded-circle mb-2">
                        <i class="far fa-clock"></i>
                    </div>
                    <h4 class="text-color-one text-uppercase">Режим работы</h4>
                    <span class="badge badge-pill badge-color-one text-uppercase text-white"><h5>Круглосуточно (Стационар)</h5></span>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="card card-group shadow-sm card-lift--hover text-center p-2 text-center">
                    <div class="icon icon-lg icon-shape icon-shape-color-two shadow rounded-circle mb-2">
                        <i class="fas fa-map-pin"></i>
                    </div>
                    <br>
                    <h4 class="text-color-two text-uppercase">Адрес</h4>
                    <span class="badge badge-pill badge-color-two text-uppercase text-white"><h5>г. Москва, ул. Стромынка, д. 10</h5></span>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="card card-group shadow-sm card-lift--hover text-center p-2 text-center">
                    <div class="icon icon-lg icon-shape icon-shape-color-three shadow rounded-circle mb-2">
                       <i class="fas fa-exclamation"></i>
                    </div>
                    <span class="badge badge-pill badge-color-three text-uppercase text-white"><h6>Контактный телефон горячей линии психологической помощи: +7(999)353-79-80</h6></span>
                </div>
            </div>
        </div>
    </div>
{#END#}

    <section style="background-image: url('/static/assets/img/ill/1.svg');">
    <div data-aos="zoom-in">
        <div class="row mr-0">
          <div class="col-md-8 mx-auto text-center mb-2">
            <h3 class="display-3">Наши филиалы</h3>
          </div>
        </div>
        <div class="row justify-content-center mr-0">
            <div class="col-10">
                <div class="owl-carousel owl-theme py-3" id="slider-branches">
                                        <div class="item">
                                            <div class="card shadow-sm py-3 px-3 info">
                                               <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                                                   <i class="ni ni-building"></i>
                                               </div>
                                               <h6 class="info-title text-uppercase text-primary">Клиника №1</h6>
                                               <div class="description opacity-8">
                                                   <span class="badge badge-pill badge-primary text-uppercase">Адрес:</span>
                                                   <h6>107014, город Москва, улица Стромынка, дом 10</h6>
                                                   <span class="badge badge-pill badge-primary text-uppercase">Телефон:</span><br>
                                                   <h6>8-499-785-25-14</h6>
                                                   <span class="badge badge-pill badge-primary text-uppercase">Электронный адрес:</span>
                                                   <h6>cbt@zdrav.mos.ru </h6>
                                               </div>
                                               <a href="javascript:;" class="text-right text-primary">ПОДРОБНЕЕ
                                                   <i class="ni ni-curved-next text-primary"></i>
                                               </a>
                                           </div>
                                        </div>
                                        <div class="item">
                                            <div class="card shadow-sm py-3 px-3 info">
                                                  <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                                                    <i class="ni ni-building"></i>
                                                  </div>
                                                  <h6 class="info-title text-uppercase text-success">Клиника №2</h6>
                                                    <div class="description opacity-8">
                                                      <span class="badge badge-pill badge-success text-uppercase">Адрес:</span>
                                                        <h6>107014, город Москва, улица Барболина, дом 3 </h6>
                                                      <span class="badge badge-pill badge-success text-uppercase">Телефон:</span><br>
                                                        <h6>
                                                          8-499-268-26-61 <br>
                                                          8-499-268-25-20</h6>
                                                      <span class="badge badge-pill badge-success text-uppercase">Электронный адрес:</span>
                                                        <h6>cbt-klinika2@zdrav.mos.ru</h6>
                                                    </div>
                                                  <a href="javascript:;" class="text-right text-success">ПОДРОБНЕЕ
                                                    <i class="ni ni-curved-next text-success"></i>
                                                  </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="card shadow-sm py-3 px-3 info">
                                                  <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                                                    <i class="ni ni-building"></i>
                                                  </div>
                                                  <h6 class="info-title text-uppercase text-warning">Филиал по ЮЗАО (ул. Новаторов, д.17)</h6>
                                                    <div class="description opacity-8">
                                                      <span class="badge badge-pill badge-warning text-uppercase">Адрес:</span>
                                                        <h6>117630, город Москва, ул. Новаторов, дом 17 </h6>
                                                      <span class="badge badge-pill badge-warning text-uppercase">Телефон:</span><br>
                                                        <h6>8-495-935-14-62</h6>
                                                      <span class="badge badge-pill badge-warning text-uppercase">Электронный адрес:</span>
                                                        <h6>cbt-uzao15@zdrav.mos.ru</h6>
                                                    </div>
                                                  <a href="javascript:;" class="text-right text-warning">ПОДРОБНЕЕ
                                                    <i class="ni ni-curved-next text-warning"></i>
                                                  </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="card shadow-sm py-3 px-3 info">
                                              <div class="icon icon-lg icon-shape icon-shape-info shadow rounded-circle">
                                                <i class="ni ni-building"></i>
                                              </div>
                                              <h6 class="info-title text-uppercase text-info">Филиал по ЮЗАО (ул. Новаторов, д.17)</h6>
                                                <div class="description opacity-8">
                                                  <span class="badge badge-pill badge-info text-uppercase">Адрес:</span>
                                                    <h6>117630, город Москва, ул. Новаторов, дом 17 </h6>
                                                  <span class="badge badge-pill badge-info text-uppercase">Телефон:</span><br>
                                                    <h6>8-495-935-14-62</h6>
                                                  <span class="badge badge-pill badge-info text-uppercase">Электронный адрес:</span>
                                                    <h6>cbt-uzao15@zdrav.mos.ru</h6>
                                                </div>
                                              <a href="javascript:;" class="text-right text-info">ПОДРОБНЕЕ
                                                <i class="ni ni-curved-next text-info"></i>
                                              </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="card shadow-sm py-3 px-3 info">
                                               <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                                                   <i class="ni ni-building"></i>
                                               </div>
                                               <h6 class="info-title text-uppercase text-primary">Клиника №1</h6>
                                               <div class="description opacity-8">
                                                   <span class="badge badge-pill badge-primary text-uppercase">Адрес:</span>
                                                   <h6>107014, город Москва, улица Стромынка, дом 10</h6>
                                                   <span class="badge badge-pill badge-primary text-uppercase">Телефон:</span><br>
                                                   <h6>8-499-785-25-14</h6>
                                                   <span class="badge badge-pill badge-primary text-uppercase">Электронный адрес:</span>
                                                   <h6>cbt@zdrav.mos.ru </h6>
                                               </div>
                                               <a href="javascript:;" class="text-right text-primary">ПОДРОБНЕЕ
                                                   <i class="ni ni-curved-next text-primary"></i>
                                               </a>
                                           </div>
                                        </div>
                </div>
            </div>
        </div>
    </div>
    </section>

<div>
    {% for i in branches %}
         <div class="item">
       <div class="card shadow-sm py-3 px-3 info">
                        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-building"></i>
                        </div>
                        <h6 class="info-title text-uppercase text-danger">{{ i.name}}</h6>
                        <div class="description opacity-8">
                            <span class="badge badge-pill badge-primary text-uppercase">Адрес:</span>
                            <h6>{{ i.address}}</h6>
                            <span class="badge badge-pill badge-primary text-uppercase">Телефон:</span><br>
                            <h6>{{ i.phones }}</h6>
                            <span class="badge badge-pill badge-primary text-uppercase">Электронный адрес:</span>
                            <h6>{{ i.email}}</h6>
                        </div>
                        <a href="{{ i.get_absolute_url }}" class="text-right text-primary">ПОДРОБНЕЕ
                            <i class="ni ni-curved-next text-danger"></i>
                        </a>
                    </div>
         </div>
{% endfor %}
</div>
{#    End branches#}

    <div class="container" data-aos="fade-left">
        <div class="row">
          <div class="col-md-8 mx-auto text-center mb-2">
            <h3 class="display-3">Важная информация</h3>
          </div>
        </div>
                                <div class="owl-carousel owl-theme" id="slider-important-link">
                                        <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/dzm.png" alt="">
                                            </div>
                                            Официальный сайт Департамента здравоохранения города Москвы
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/vrachi_veteranam.png" alt="">
                                            </div>
                                            Врачи Москвы - ветеранам
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/donor.jpg" alt="">
                                            </div>
                                            Доноры в помощь врачам
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/volonter2.jpg" alt="">
                                            </div>
                                            Как стать волонтером в сфере здравоохранения Москвы
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/patients_day.jpg" alt="">
                                            </div>
                                            Всемирный день безопасности пациента
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/den_zdor.jpg" alt="">
                                            </div>
                                            Дни здоровья столицы
                                    </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/electr_karta.jpg" alt="">
                                            </div>
                                            Единая электронная медицинская карта
                                    </div>
                                </div>
    </div>

{#END important link#}
      <section class="section section-lg section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-md" data-aos="fade-right">

        <div class="row">
          <div class="col-md-8 mx-auto text-center mb-2">
            <h3 class="display-3 text-white">Смотрите также</h3>
          </div>
        </div>
        <button class="btn btn-success btn-block mb-4" type="button">Общественный совет</button>
        <button class="btn btn-success btn-block mb-4" type="button">Документы</button>
        <button class="btn btn-success btn-block mb-4" type="button">Волонтерская деятельность</button>
    </div>

    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
{% endblock %}