{% extends 'base.html' %}

{% block title %}
 {{ title }}
{% endblock %}

{% block content %}
{% include 'inc/_headlist.html' %}
    <section class="section mt--200">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center card card-lift--hover shadow-lg p-2">
            <div class="img-title d-md-flex align-items-center justify-content-center">
                <img alt="" src="/media/photos/management/bogorodskaya_em_small.png" class="img-fluid rounded shadow-lg" width="150px">
            </div>
            <hr>
            <h4>Богородская Елена Михайловна</h4>
        </div>
    </div>
    </section>
{% endblock %}