{% extends 'base.html' %}

{% block title %}
 {{ title }}
{% endblock %}

{% block content %}
{% include 'inc/_headlist.html' %}
    <section class="section mt--200">
    <div class="row justify-content-center mx-0">
        <div class="col-md-4 text-center card card-lift--hover shadow-lg p-2">
            <div class="img-title d-md-flex align-items-center justify-content-center">
                <img alt="" src="/media/photos/management/bogorodskaya_em_small.png" class="img-fluid rounded-circle shadow-lg" width="150px">
            </div>
            <hr>
            <h3 class="text-primary">Богородская Елена Михайловна</h3>
            <h4 class="text-danger">Директор Центра</h4>
        </div>
    </div>
        <div class="px-md-9">
        <div class="owl-carousel owl-theme mt-8 big-test" id="slider-management">
                                        <div class="card shadow-sm p-2 item">
                                            <div class="img-title d-md-flex align-items-center justify-content-center">
                                                <img alt="" src="/media/photos/management/borisov_small.png" class="img-fluid rounded-circle shadow-lg" width="150px">
                                            </div>
                                            Официальный сайт Департамента здравоохранения города Москвы
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/vrachi_veteranam.png" alt="">
                                            </div>
                                            Врачи Москвы - ветеранам
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/donor.jpg" alt="">
                                            </div>
                                            Доноры в помощь врачам
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/volonter2.jpg" alt="">
                                            </div>
                                            Как стать волонтером в сфере здравоохранения Москвы
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/patients_day.jpg" alt="">
                                            </div>
                                            Всемирный день безопасности пациента
                                        </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/den_zdor.jpg" alt="">
                                            </div>
                                            Дни здоровья столицы
                                    </div>
                                    <div class="card shadow-sm p-2 item">
                                            <div class="img-cont">
                                                <img src="/static/assets/img/banners/electr_karta.jpg" alt="">
                                            </div>
                                            Единая электронная медицинская карта
                                    </div>
                                </div>
    </div>
        </div>

    </section>
{% endblock %}