{% extends 'base.html' %}

{% block title %}
 {{ title }}
{% endblock %}

{% block content %}
{% include 'inc/_headlist.html' %}
    <section class="section">
    <div class="row mx-md-9 mt--200">
        <div class="col-md-3">
            <a target="_blank" href="/media/covid19/1.pdf">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Клиника и диагностика коронавирусной инфекции COVID-19 (30.03.2020)
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Коронавирусная инфекция - лечение (30.03.2020)
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Коронавирусная инфекция: возбудитель, патогенез, актуальные эпидемиологические данные (30.03.2020)
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Лечение коронавирусной инфекции COVID-19 и ее осложнений (30.03.2020)
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Особенности клинических проявлений и лечения новой  коронавирусной инфекции COVID-19 у детей (30.03.2020)
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Особенности клиническоих проявлений и лечения новой  короновирусной COVID-19 инфекции у беременных (30.03.2020)
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Профилактика распространения коронавирусной инфекции, в том числе в противотуберкулезных учреждений, актуальные нормативные документы (30.03.2020)
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Вебинар «Диагностика, лечение и профилактика коронавирусной инфекции»
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
                <div class="card triangle-danger card-lift--hover shadow-sm p-5 mb-1">
                    Роспотребнадзором разработаны учебно-методические фильмы как правильно надевать и снимать средства индивидуальной защиты
                </div>
            </a>
        </div>

    </div>
    </section>
{%  endblock %}