        <div class="left-mm ml-lg-3 ml-xl-7 d-none d-xl-block align-items-center py-lg">
          <div class="col-12 mb-lg-auto">
            <a class="btn-block" target="_blank" href="http://m-o-f.ru/school_mos_ftiz/shkoly-moskovskogo-ftiziatra.php"><button class="btn btn-primary btn-block" type="button">Школа
                московского фтизиатра</button></a>
            <a class="btn-block" href="{% url 'covid-19' %}"><button class="btn btn-primary btn-block" type="button">Специалистам COVID-19</button></a>
            <a class="btn-block" href="{% url 'management' %}"><button class="btn btn-primary btn-block" type="button">Руководство Центра</button></a>
            <a class="btn-block" href="/chief-phthisiatricians-page/"><button class="btn btn-primary btn-block" type="button">Страница главного фтизиатра</button></a>
            <button class="btn btn-primary btn-block" type="button">Письмо в администрацию Центра</button>
            <a class="btn-block" href="{% url 'reviews' %}"><button class="btn btn-primary btn-block" type="button">Отзывы пациентов</button></a>
            <a class="btn-block" href="/contacts/"><button class="btn btn-primary btn-block" type="button">Контактная информация</button></a>
          </div>
        </div>