        <div class="left-mm ml-lg-3 align-items-center py-md-7">
             <div class="owl-carousel owl-theme" id="slider-mm">

                  <div class="card card-bg overflow-auto card-height align-items-center justify-content-center shadow-sm p-2 p-md-4 item">
                      <a href="http://m-o-f.ru/school_mos_ftiz/shkoly-moskovskogo-ftiziatra.php">
                           <button class="btn btn-lg btn-danger btn-icon-only rounded-circle" type="button">
                                <span class="btn-inner--icon"><img src="/media/icons/logo-mof.svg" alt=""></span>
                           </button>
                           <div class="size-fnt text-default">Школа московского фтизиатра</div>
                      </a>
                  </div>

                 <div class="card card-bg overflow-auto card-height align-items-center justify-content-center shadow-sm p-2 p-md-4 item">
                      <a href="{% url 'covid-19' %}">
                           <button class="btn btn-lg btn-warning btn-icon-only rounded-circle" type="button">
                                <span class="btn-inner--icon"><img src="/media/icons/coronavirus.svg" alt=""></span>
                           </button>
                           <div class="size-fnt text-default">Специалистам COVID-19</div>
                      </a>
                  </div>

                  <div class="card card-bg overflow-auto card-height align-items-center justify-content-center shadow-sm p-2 p-md-4 item">
                      <a href="{% url 'management' %}">
                           <button class="btn btn-lg btn-info btn-icon-only rounded-circle" type="button">
                                <span class="btn-inner--icon"><img src="/media/icons/management.svg" alt=""></span>
                           </button>
                           <div class="size-fnt text-default">Руководство Центра</div>
                      </a>
                  </div>

                 <div class="card card-bg overflow-auto card-height align-items-center justify-content-center shadow-sm p-2 p-md-4 item">
                      <a href="{% url 'management' %}">
                           <button class="btn btn-lg btn-primary btn-icon-only rounded-circle" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-single-02"></i></span>
                           </button>
                           <div class="size-fnt text-default">Страница главного фтизиатра</div>
                      </a>
                  </div>

                 <div class="card card-bg overflow-auto card-height align-items-center justify-content-center shadow-sm p-2 p-md-4 item">
                      <a href="#">
                           <button class="btn btn-lg btn-danger btn-icon-only rounded-circle" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-send"></i></span>
                           </button>
                           <div class="size-fnt text-default">Письмо в администрацию Центра</div>
                      </a>
                  </div>
                 <div class="card card-bg overflow-auto card-height align-items-center justify-content-center shadow-sm p-2 p-md-4 item">
                      <a href="{% url 'reviews' %}">
                           <button class="btn btn-lg btn-warning btn-icon-only rounded-circle" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-like-2"></i></span>
                           </button>
                           <div class="size-fnt text-default">Отзывы пациентов</div>
                      </a>
                  </div>
                 <div class="card card-bg overflow-auto card-height align-items-center justify-content-center shadow-sm p-2 p-md-4 item">
                      <a href="/contacts/">
                           <button class="btn btn-lg btn-info btn-icon-only rounded-circle" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-pin-3"></i></span>
                           </button>
                           <div class="size-fnt text-default">Контактная информация</div>
                      </a>
                  </div>
             </div>

{#          <div class="col-12 mb-lg-auto">#}
{#              <div class="row">#}
{##}
{#                <div class="col-6 col-md-12 pb-2 pr-1 pl-1">#}
{#                    <a target="_blank" href="http://m-o-f.ru/school_mos_ftiz/shkoly-moskovskogo-ftiziatra.php">#}
{#                        <button class=" btn btn-primary btn-block" type="button">Школа московского фтизиатра</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="col-6 col-md-12 pb-2 pr-1 pl-1">#}
{#                    <a href="{% url 'covid-19' %}">#}
{#                        <button class="btn btn-primary btn-block" type="button">Специалистам COVID-19</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="col-6 col-md-12 pb-2 pr-1 pl-1">#}
{#                    <a class="btn-block" href="{% url 'management' %}">#}
{#                        <button class="btn btn-primary btn-block" type="button">Руководство Центра</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="col-6 col-md-12 pb-2 pr-1 pl-1">#}
{#                    <a class="btn-block" href="/chief-phthisiatricians-page/">#}
{#                        <button class="btn btn-primary btn-block" type="button">Страница главного фтизиатра</button>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="col-6 col-md-12 pb-2 pr-1 pl-1">#}
{#                    <button class="btn btn-primary btn-block" type="button">Письмо в администрацию Центра</button>#}
{#                </div>#}
{#                <div class="col-6 col-md-12 pb-2 pr-1 pl-1">#}
{#                    <a class="btn-block" href="{% url 'reviews' %}">#}
{#                        <button class="btn btn-primary btn-block" type="button">Отзывы пациентов</button>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-6 col-md-12 pb-2 pr-1 pl-1">#}
{#                    <a class="btn-block" href="/contacts/">#}
{#                        <button class="btn btn-primary btn-block" type="button">Контактная информация</button>#}
{#                    </a>#}
{#                </div>#}
{#              </div>#}
{#          </div>#}
        </div>