        <div class="left-mm ml-lg-3 ml-xl-7 d-none d-xl-block align-items-center py-lg">
          <div class="col-12 mb-lg-auto">
            <button class="btn btn-primary btn-block" type="button">Школа московского фтизиатра</button>
            <button class="btn btn-primary btn-block" type="button">Школа пациента</button>
            <button class="btn btn-primary btn-block" type="button">Специалистам COVID-19</button>
            <button class="btn btn-primary btn-block" type="button">Руководство Центра</button>
            <button class="btn btn-primary btn-block" type="button">Старица главного фтизиатра</button>
            <button class="btn btn-primary btn-block" type="button">Школа московского фтизиатра</button>
            <button class="btn btn-primary btn-block" type="button">Письмо в администрацию Центра</button>
            <button class="btn btn-primary btn-block" type="button">Контактная информация</button>
          </div>
        </div>